.buttonIncrBlockStyle {
    padding: 10px;
}

.buttonIncrStyle {
    width: 100px;
    height: 40px;
    background-color: darkgreen;
    border-radius: 15%;
    color: gold;
    font-size: larger;
}
